/* start original code - 3/16 reinput */

.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

/* end original code - 3/16 reinput */


/*   */
/*   */
/*  Navbar positioning within App.js */
.navbar {
  height: 3.25em;
  margin-bottom: 20px;
  line-height: 215%;
}

/*   */
/*   */
/*  Positioning items within <Navbar> */
/* position index link within navbar */
.app-header {
  margin-top: 15px;
}

/* app-header style and postion within navbar */
.App .navbar-brand a {
  font-weight: 700;
  color: #6c757d;
  text-decoration: none;
  align-items: center;
  margin-left: -45px;

}


/*  Position signup & login links within navbar   */
.nav-link {
  margin-right: 15px;
}

/* When active, signin/login links should change color */
.nav-link.active {
  background-color: #e7e7e7;
}


/* see app_issues file, migration issue #4 */
/* https://v4-alpha.getbootstrap.com/migration/#navbar */
#the-navbar {
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  border-radius: 4px;
  margin-bottom: 15px;
}
